### Extract input data from a markdown table

In [1]:
# test
data = """
-- | 1          | LC Alg. Book   | Book          |
-- | 2          | LC DB. Book    | Book          |
-- | 3          | LC SmarthPhone | Phone         |
-- | 4          | LC Phone 2020  | Phone         |
-- | 5          | LC SmartGlass  | Glasses       |
-- | 6          | LC T-Shirt XL  | T-Shirt       |
"""

In [2]:
table_info = """
-- | item_id             | varchar |
-- | item_name           | varchar |
-- | item_category       | varchar |
"""

In [3]:
table_name = 'Items'

In [4]:
def extract (str):
    # exclude empty rows (head and tail)
    str_split = str.split("\n")[1:-1]
    # split string based on '|'
    for i in range(len(str_split)):
        ls = str_split[i].split('|')
        # drop space
        for _ in range(len(ls)):
            ls[_]= ls[_].strip()
        # exclude the 1st (--) and last (empty) elements
        str_split[i] = tuple(ls[1:-1])
    return str_split

In [5]:
input_data = extract(data)
column_info = extract(table_info)
col_ = [x[0] for x in column_info]

In [6]:
ls = [' '.join(x) for x in column_info]
print(f'Create table If Not Exists {table_name} (',end = '')
print(*ls, sep = ',', end='') 
print(');')

Create table If Not Exists Items (item_id varchar,item_name varchar,item_category varchar);

In [7]:
col_name = tuple(col_)

for _ in input_data:
    print(f'insert into {table_name} (',end = '')
    print(*col_name, sep = ',', end='') 
    print(f') values {_}',end = '')
    print(';')

insert into Items (item_id,item_name,item_category) values ('1', 'LC Alg. Book', 'Book');
insert into Items (item_id,item_name,item_category) values ('2', 'LC DB. Book', 'Book');
insert into Items (item_id,item_name,item_category) values ('3', 'LC SmarthPhone', 'Phone');
insert into Items (item_id,item_name,item_category) values ('4', 'LC Phone 2020', 'Phone');
insert into Items (item_id,item_name,item_category) values ('5', 'LC SmartGlass', 'Glasses');
insert into Items (item_id,item_name,item_category) values ('6', 'LC T-Shirt XL', 'T-Shirt');