### Extract input data from a markdown table

In [8]:
# test
data = """
-- | 1       | 1    |
-- | 2       | 0    |
-- | 3       | 1    |
-- | 4       | 1    |
-- | 5       | 1    |
"""

In [9]:
table_info = """
-- | seat_id            | int NOT NULL AUTO_INCREMENT |
-- | free          | bool |
"""

In [10]:
table_name = 'seats'

In [11]:
def extract (str):
    # exclude empty rows (head and tail)
    str_split = str.split("\n")[1:-1]
    # split string based on '|'
    for i in range(len(str_split)):
        ls = str_split[i].split('|')
        # drop space
        for _ in range(len(ls)):
            ls[_]= ls[_].strip()
        # exclude the 1st (--) and last (empty) elements
        str_split[i] = tuple(ls[1:-1])
    return str_split

In [12]:
input_data = extract(data)
column_info = extract(table_info)
col_ = [x[0] for x in column_info]

In [13]:
ls = [' '.join(x) for x in column_info]
print(f'Create table If Not Exists {table_name} (',end = '')
print(*ls, sep = ',', end='') 
print(');')

Create table If Not Exists seats (seat_id int NOT NULL AUTO_INCREMENT,free bool);

In [14]:
col_name = tuple(col_)

for _ in input_data:
    print(f'insert into {table_name} (',end = '')
    print(*col_name, sep = ',', end='') 
    print(f') values {_}',end = '')
    print(';')

insert into seats (seat_id,free) values ('1', '1');
insert into seats (seat_id,free) values ('2', '0');
insert into seats (seat_id,free) values ('3', '1');
insert into seats (seat_id,free) values ('4', '1');
insert into seats (seat_id,free) values ('5', '1');