### Extract input data from a markdown table

In [22]:
# test
data = """
| 1  | Joe   | 70000  | 1            |
| 2  | Jim   | 90000  | 1            |
| 3  | Henry | 80000  | 2            |
| 4  | Sam   | 60000  | 2            |
| 5  | Max   | 90000  | 1            |
"""

In [23]:
table_info = """
| Id          | int     |
| Name         | varchar(10) |
| Salary         | int |
| DepartmentId         | int |
"""

In [24]:
table_name = 'Employee'

In [25]:
def extract (str):
    # exclude empty rows (head and tail)
    str_split = str.split("\n")[1:-1]
    # split string based on '|'
    for i in range(len(str_split)):
        ls = str_split[i].split('|')
        # drop space
        for _ in range(len(ls)):
            ls[_]= ls[_].strip()
        # exclude the 1st (--) and last (empty) elements
        str_split[i] = tuple(ls[1:-1])
    return str_split

In [26]:
input_data = extract(data)
column_info = extract(table_info)
col_ = [x[0] for x in column_info]

In [27]:
ls = [' '.join(x) for x in column_info]
print(f'Create table If Not Exists {table_name} (',end = '')
print(*ls, sep = ',', end='') 
print(');')


col_name = tuple(col_)

for _ in input_data:
    print(f'insert into {table_name} (',end = '')
    print(*col_name, sep = ',', end='') 
    print(f') values {_}',end = '')
    print(';')

Create table If Not Exists Employee (Id int,Name varchar(10),Salary int,DepartmentId int);
insert into Employee (Id,Name,Salary,DepartmentId) values ('1', 'Joe', '70000', '1');
insert into Employee (Id,Name,Salary,DepartmentId) values ('2', 'Jim', '90000', '1');
insert into Employee (Id,Name,Salary,DepartmentId) values ('3', 'Henry', '80000', '2');
insert into Employee (Id,Name,Salary,DepartmentId) values ('4', 'Sam', '60000', '2');
insert into Employee (Id,Name,Salary,DepartmentId) values ('5', 'Max', '90000', '1');